<%= simple_form_for([@product, @order], html: { class: ''}) do |f| %>

<div class="row-fluid">

	<div class="span12">
		<%= f.input :name, input_html: { class: 'input-xxlarge' }, label: 'Full name' %>
	</div>
	<div class="span6">
		<%= f.input :city, placeholder: '(Sofia / София)', input_html: { class: 'input-xlarge' } %>
	</div>
	<div class="span4">
		<%= f.input :phone, input_html: { class: '' } %>
	</div>
	
	<div class="span12">
	<%= f.input :address_type, inline_label: 'Yes, Ship to EKONT office', label: 'Shipping to a EKONT office?' %>
	<%= f.input :address, input_html: { class: 'input-xxlarge' }, placeholder: '(Улица/Булевард, №, бл., вх., ет., ап.)' %>
	<%= f.input :message, label: 'Message, if any', input_html: { class: 'input-xxlarge', rows: 4 }, placeholder: '(Size, color, etc...)' %>
	</div>
	<div class="span6">
		<%= f.input :quantity, label: 'How many would you like to order?', input_html: { class: 'input-xlarge' } %>
	</div>
	<div class="span4">
		<%= f.input :email, label: 'Email (optional)' %>
	</div>

</div>

<div>
	<%= f.button :submit, data: { confirm: "Confirm Order! After confirming you will be contacted by EKONT Express to receive your order. Thank you!" }, class: 'btn btn-primary btn-large pull-right' %>
</div>
<% end %>
