<h1>This is the Order Page</h1>
<hr />

<% @order.each do |order| %>
	<div id="orders">
		
			<p><%= order.name %> has ordered <%= order.product.title %> | id: <%= order.product_id %></p>
			<p><%= order.city %>, <%= order.address_type %>, <%= order.address %></p>
			<p>Message: <em><%= order.message %></em></p>
			<p>Quantity: <% order.quantity %></p>
			<p>Email: <%= order.email %></p>
			<p>Price per quantity: <%= order.product.price %></p>
			<p>Add a Boolean for hiding the order when shpped but do not delete shipped orders!</p>
	</div>
	<hr />
<% end %>