<h1>Listing pictures for <%= @product.title %> #<%= @product.item_id %> <%= link_to 'New Picture', new_product_picture_path(@product), class: 'btn btn-primary' %></h1>

<% @pictures.each do |picture| %>
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag(picture.asset.url) %>
      </div>
    </li>
  </ul>
  <%= link_to 'View full size', product_picture_path(@product, picture) %> |
  <%= link_to 'Edit', edit_product_picture_path(@product, picture) %> |
  <%= link_to "Delete", product_picture_path(@product, picture), method: :delete, data: { confirm: "Are you sure?"} %>
  <hr />
<% end %>