<h2 class="text-center">Browse our catalog,</h2>
<h4 class="text-center">the whole collection of precious silver accessories.</h4>
<ul id="products-list" class="row-fluid">
  <% @products.each do |product| %>
            <li id="product-thumb" class="product">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <% if product.pictures.exists? %>
                                <% product.pictures.each do |picture| %>
                                  <a href="<%= product_path(product) %>">
                                      <% if picture == product.pictures.first %>
                                        <img src="<%= picture.asset.url(:thumb) %>">
                                      <% end %>
                                  </a>
                                <% end %>
                            <% else %>
                            <a href="<%= product_path(product) %>" role="button" data-toggle="modal"><%= image_tag product.gallery.url(:thumb) %></a>
                            <% end %>
                            <p><em><span class="product_price_class_thumb">Class: <%= product.price_class %></span></em></p>
                        </div>
                        <div class="span8">
                            <h3><a href="#<%= product.title.gsub(/\s+/, "") %>" role="button" data-toggle="modal" class="index_product_title"><%= product.title %></a></h3>
                            <p><em><%= truncate(product.description, length: 60) %></em></p>
                        </div>
                        <ul class="span12 admin">
                            <% if admin_signed_in? %>
                                <li><%= link_to 'Show', product %></li>
                                <li><%= link_to 'Edit', edit_product_path(product) %></li>
                                <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                                <li><%= link_to 'Gallery', product_pictures_path(product), class: 'btn btn-primary' %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </li>

    <% end %>
</ul>

<% @products.each do |product| %>
<div id="<%= product.title.gsub(/\s+/, "") %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><span class="product_title"><%= product.title %></span></h3>
    </div>

    <div class="modal-body">
        <div class="container-fluid" id="show_product">
          <div class="row-fluid">
            <section class="product_image span6">
              <%= link_to image_tag(product.gallery.url(:medium)), product_path(product) %>
            </section>
            <section class="info_right span6">
              <section class="product_description offset3 span9">
              <p><%= product.description %></p>
              </section>
              <section class="offset3 span9">
                <br />
                <p><em>
                  <span class="product_item_id">Product ID: <%= product.item_id %></span><br />
                  <span class="product_quantity">Quantity: <%= product.quantity %> left</span><br />
                  <span class="product_discount">Discount: <%= product.discount %> BGN</span>
                </em></p><br />
              </section>
              <section class="product_price_class offset1 span11">
                <p>Price class: <%= product.price_class %></p>
              </section>
              <section class="product_warranty product_guarantee offset1 span11">
                <p>Warranty: <% if product.warranty? %><%= product.warranty %><% else %><em>No warranty available</em><% end %><br /><% if product.guarantee? %>Guarantee: <%= product.guarantee %><% end %></p>
              </section>
            </section>
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn pull-right" data-dismiss="modal" aria-hidden="true">Back</a>
        <%= link_to "Order now!", new_product_order_form_path(product), class: "btn btn-success" %>
        <%= link_to "How to order?", faq_path, class: 'btn btn-info pull-right' %>
        
        <% if admin_signed_in? && @product %>
            <%= link_to 'Edit', edit_product_path(@product) %>
        <% end %>
    </div>
</div>
<% end %>


<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  <% @products.each do |product| %>
  <% product.pictures.each do |picture| %>
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  <% end %>
  <% end %>
</div>