  <h1 class="text-center"><%= @product.title %></h1>
  <div class="container-fluid" id="show_product">
    <div class="row-fluid">
      <section class="product_image span6">
        <% if @product.pictures.exists? %>
              <div id="links">
                <% @product.pictures.order('updated_at DESC').each do |picture| %>
                  <a href="<%= picture.asset.url %>" id="gallery">
                      <% if picture == @product.pictures.last %>
                        <img src="<%= picture.asset.url(:medium) %>">
                      <% end %>
                  </a>
                <% end %>
                <p class="text-center">Click image for more.</p>
              </div>
            <% else %>
        <%= image_tag @product.gallery.url(:medium) %>
      <% end %>
      </section>
      <section class="info_right span6">
        <section class="product_description offset3 span9">
        <p><%= @product.description %></p>
        </section>
        <section class="offset3 span9">
          <br />
          <p><em>
            <span class="product_item_id">Product ID: <%= @product.item_id %></span><br />
            <span class="product_quantity">Quantity: <%= @product.quantity %> left</span><br />
            <span class="product_discount">Discount: <%= @product.discount %> BGN</span>
          </em></p><br />
        </section>
        <section class="product_price_class offset1 span11">
          <p>Price class: <%= @product.price_class %></p>
        </section>
        <section class="product_warranty product_guarantee offset1 span11">
          <p>Warranty: <% if @product.warranty? %><%= @product.warranty %><% else %><em>No warranty available</em><% end %><br /><% if @product.guarantee? %>Guarantee: <%= @product.guarantee %><% end %></p>
        </section>
      </section>
      <%= link_to "Order Now!", new_product_order_form_path(@product), class: 'btn btn-primary btn-large' %>
      <% if admin_signed_in? %>
      <%= link_to "Gallery", product_pictures_path(@product), class: 'btn btn-success btn-large' %>
      <% end %>
      <%= link_to "How to order?", faq_path, class: 'btn btn-info pull-right' %>
      <%= link_to "Back", products_path, class: 'btn pull-right' %>
    </div>
  </div>


<% if false %>
<div class="container-fluid" id="show_product">
  <div class="row-fluid">
    <section class="span12">
      <h1>
        <span class="product_title span11"><%= @product.title %></span>
      </h1>
        <span class="back_button span1"><%= link_to 'Back', products_path %></span>
        <div class="span12"><p><hr /></p></div>
    </section>
    <section class="product_image span5">
      <%= image_tag @product.gallery.url(:medium) %>
    </section>
    <section class="info_right span6">
      <section class="product_description offset3 span9">
      <p><%= @product.description %></p>
      </section>
      <section class="offset3 span9">
        <br />
        <p><em>
          <span class="product_item_id">Product ID: <%= @product.item_id %></span><br />
          <span class="product_quantity">Quantity: <%= @product.quantity %> left</span><br />
          <span class="product_discount">Discount: <%= @product.discount %> BGN</span>
        </em></p><br />
      </section>
      <section class="product_price_class offset1 span11">
        <p>Price class: <%= @product.price_class %></p>
      </section>
      <section class="product_warranty product_guarantee offset1 span11">
        <p>Warranty: <%= @product.warranty %><br />Guarantee: <%= @product.guarantee %></p>
      </section>
    </section>
    <div id="show-menu-bottom" class="span12">
      <div class="span4">
        <%= link_to 'Back', products_path %>
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_product_path(@product) %>
        <% end %>
      </div>
      <div class="span4">
        <p>Order now</p>
      </div>
      <div class="span4">
        <p>How to Order?<p>
      </div>
    </div>
  </div>

  <%= link_to 'Add pictures to Gallery', product_pictures_path(@product), class: 'btn btn-primary' %>





</div>
<% end %>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

